<div class="container-fluid state-login">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Авторизация</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="fromField1">Филиал</label>
                            <select ng-model="login.branch" id="fromField1" class="form-control" name="branch">
                                <option ng-repeat="branch in branchList" value="{{branch}}">{{branch}}</option>
                            </select>
                            <!-- /# -->
                        </div>
                        <div class="form-group">
                            <label for="fromField2">Пароль</label>
                            <input ng-model="login.password" type="password" class="form-control" id="fromField2" placeholder="Пароль">
                        </div>
                        <button class="btn btn-primary" ng-click="login.submit(login)">Войти</button>
                        <!--&nbsp;<button class="btn btn-default">Войти как администратор</button>-->
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
