<div class="container-fluid">
    <ul class="nav nav-pills">
        <li role="presentation"><a ng-href="/#/section/production"><i class="glyphicon glyphicon-th-list"></i>&nbsp;Список заявок</a></li>
        <li role="presentation" class="active"><a ng-href="/#/section/production/add"><i class="glyphicon glyphicon-plus"></i>&nbsp;Добавить новую заявку</a></li>
    </ul>
</div>
<div class="container-fluid">
    <form class="form" name="production.form" novalidate>
        <fieldset>
            <legend>Общая информация</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>ГСУ</label>
                        <div class="has-feedback">
                            <select class="form-control" ng-options="option for option in gsuList track by option" ng-model="entry.common['input8']" ng-init="entry.common['input8']=''"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Кадастровый номер</label>
                        <div class="has-feedback">
                            <input type="text" class="form-control" ng-model="entry.common['input1']" ng-init="entry.common['input1']=''" placeholder="" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Адрес земельного участка</label>
                        <div class="has-feedback">
                            <input type="text" class="form-control" name="input2" ng-model="entry.common['input2']" ng-init="entry.common['input2']=''" placeholder="" value="" required>
                            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Вид разрешенного использования</label>
                        <div class="has-feedback">
                            <select class="form-control" ng-options="option for option in ['Для сортоиспытания сельскохозяйственных культур']" ng-model="entry.common['input3']" ng-init="entry.common['input3']=''" required></select>
                            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Категория деятельности и структура использования земель</label>
                        <div class="has-feedback">
                            <select class="form-control" ng-options="option.value group by option.category for option in productionConfig['category-activity'] track by option.category + ';' + option.value" ng-model="entry.common['input4']" ng-init="" multiple required></select>
                            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Общая площадь&nbsp;<small>кв.м.</small></label>
                        <div class="has-feedback">
                            <input type="text" class="form-control" name="input6" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.common['input6']" ng-init="entry.common['input6']=''" placeholder="" value="" required>
                            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Дата</label>
                        <div class="has-feedback">
                            <input type="text" class="form-control" ng-model="entry.common['input7']" ng-init="entry.common['input7']=currentDate" placeholder="" required
                                   datepicker
                                   datepicker-options='{"format": "dd-mm-yyyy"}'
                                   datepicker-date="currentDate"
                                />
                            <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Плодово-виноградные: земли под сортопытами</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset1 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset1=!toggleFieldset1" ng-init="toggleFieldset1=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset1">
                <form-fieldset data-model="entry.fieldsets['fruit-grape-experiment']"></form-fieldset>
            </div>
        </fieldset>
        <fieldset>
            <legend>Плодово-виноградные: производство сельхозпродукции</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset2 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset2=!toggleFieldset2" ng-init="toggleFieldset2=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset2">
                <form-fieldset data-model="entry.fieldsets['fruit-grape-production']"></form-fieldset>
            </div>
        </fieldset>
        <fieldset>
            <legend>Плодово-виноградные: резервная площадь</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset3 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset3=!toggleFieldset3" ng-init="toggleFieldset3=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Резервная площадь <small>га</small></label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="fruit-grape-reserve-input1" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.fieldsets['fruit-grape-reserve']['input1']" ng-init="entry.fieldsets['fruit-grape-reserve']['input1']=''" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Сельскохозяйственные культуры: земли под сортопытами</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset4 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset4=!toggleFieldset4" ng-init="toggleFieldset4=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset4">
                <form-fieldset data-model="entry.fieldsets['agricultural-experiment']"></form-fieldset>
            </div>
        </fieldset>
        <fieldset>
            <legend>Сельскохозяйственные культуры: производство сельхозпродукции</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset5 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset5=!toggleFieldset5" ng-init="toggleFieldset5=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset5">
                <form-fieldset data-model="entry.fieldsets['agricultural-production']"></form-fieldset>
            </div>
        </fieldset>
        <fieldset>
            <legend>Сельскохозяйственные культуры: площадь под паром</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset6 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset6=!toggleFieldset6" ng-init="toggleFieldset6=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset6">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Под чистыми парами <small>га</small></label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="agricultural-fallow-input1" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.fieldsets['agricultural-fallow']['input1']" ng-init="entry.fieldsets['agricultural-fallow']['input1']=''" placeholder="" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Засоренные: кустаник <small>га</small></label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="agricultural-fallow-input2" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.fieldsets['agricultural-fallow']['input2']" ng-init="entry.fieldsets['agricultural-fallow']['input2']=''" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Засоренные: ДКР <small>га</small></label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="agricultural-fallow-input3" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.fieldsets['agricultural-fallow']['input3']" ng-init="entry.fieldsets['agricultural-fallow']['input3']=''" placeholder="" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Засоренные: лес <small>га</small></label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" name="agricultural-fallow-input4" input-mask ng-pattern="'^[ 0-9]+$'" ng-model="entry.fieldsets['agricultural-fallow']['input4']" ng-init="entry.fieldsets['agricultural-fallow']['input4']=''" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Сельскохозяйственные культуры: многолетние травы</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset7 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset7=!toggleFieldset7" ng-init="toggleFieldset7=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset7">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Год использования</label>
                            <div class="has-feedback">
                                <input type="text" class="form-control" ng-model="entry.fieldsets['agricultural-time']['input1']" ng-init="entry.fieldsets['agricultural-time']['input1']=''" placeholder="" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Теплицы: площадь под сортопытами</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset8 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset8=!toggleFieldset8" ng-init="toggleFieldset8=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset8">
                <form-fieldset data-model="entry.fieldsets['greenhouse-experiment']"></form-fieldset>
            </div>
        </fieldset>
        <fieldset>
            <legend>Теплицы: производство сельхозпродукции</legend>
            <span class="fieldset-toggle toggle-btn glyphicon" ng-class="toggleFieldset9 ? 'glyphicon-minus' : 'glyphicon-plus'" ng-click="toggleFieldset9=!toggleFieldset9" ng-init="toggleFieldset9=false" title="свернуть/развернуть"></span>
            <div class="toggle-wrap" ng-show="toggleFieldset9">
                <form-fieldset data-model="entry.fieldsets['greenhouse-production']"></form-fieldset>
            </div>
        </fieldset>
        <div class="form__action">
            <button class="btn btn-primary" type="submit" ng-click="production.add(entry);"><span class="glyphicon glyphicon-floppy-disk"></span> Добавить заявку</button>
        </div>
        <div class="alert alert-success animated bounce" ng-show="formState.success === true" role="alert">Заявка успешна отправлена</div>
        <div class="alert alert-danger animated shake" ng-show="formState.success === false" role="alert">Заполните обязательные поля</div>
    </form>
</div>
