<div class="table-wrap">
    <table class="table table-striped">
        <caption>Добавленные культуры</caption>
        <thead>
            <tr>
                <th colspan="1"></th>
                <th colspan="1" title="Культура">Культура</th>
                <th colspan="1">Сорт</th>
                <th colspan="1">Площадь&nbsp;<small>га</small></th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Валовый сбор&nbsp;<small>ц</small></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Урожайность&nbsp;<nobr><small>ц/га</small></nobr></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Реализовано&nbsp;<nobr><small>ц</small></nobr></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Получено средств&nbsp;<nobr><small>руб</small></nobr></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Переходящий остаток&nbsp;<nobr><small>ц</small></nobr></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="3">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="3">Использование удобрений&nbsp;<nobr><small>кг/га по д.в.</small></nobr></th>
                        </tr>
                        <tr>
                            <th>N</th>
                            <th>P</th>
                            <th>K</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="2">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Число сортоопытов&nbsp;<nobr><small>шт</small></nobr></th>
                        </tr>
                        <tr>
                            <th>план</th>
                            <th>факт</th>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="nopadding" colspan="6">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="6">Гибель по причине&nbsp;<nobr><small>га</small></nobr></th>
                        </tr>
                        <tr>
                            <th>засуха</th>
                            <th>вымерзание</th>
                            <th>выперание</th>
                            <th>болезни</th>
                            <th>вредители</th>
                            <th>прочее</th>
                        </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in formFieldset.model track by $index">
                <td>
                    <!--<span class="glyphicon glyphicon-pencil"></span>-->
                    <span class="pointer glyphicon glyphicon-remove" ng-click="formFieldset.remove($index)"></span>
                </td>
                <td ng-repeat="item in row track by $index">{{item}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input3')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input4')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input5')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input6')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input7')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input8')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input9')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input10')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input11')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input12')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input13')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input14')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input15')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input16')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input17')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input18')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input19')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input20')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input21')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input22')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input23')}}</td>
                <td>{{$root._.arraySumByField(formFieldset.model, 'input24')}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Культура</label>
            <div class="has-feedback">
                <select class="form-control" select2 data-lazy-init="fieldset['input1']" ng-change="formFieldset.changeCultures()" ng-options="option for option in culturesList track by option" ng-model="fieldset['input1']" ng-init="fieldset['input1']=''"></select>
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Сорт</label>
            <div class="has-feedback">
                <select class="form-control" select2 data-lazy-init="fieldset['input2']" ng-options="option for option in cultivarsList track by option" ng-model="fieldset['input2']" ng-init="fieldset['input2']=''"></select>
                <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" title="Обязательное поле"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Площадь <small>га</small></label>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input3']" ng-init="fieldset['input3']=''" placeholder="" value="">
            </div>
        </div>
        <div class="form-group">
            <label>Валовый сбор <small>ц</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input4']" ng-init="fieldset['input4']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input5']" ng-init="fieldset['input5']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Урожайность <small>ц/га</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input6']" ng-init="fieldset['input6']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input7']" ng-init="fieldset['input7']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Реализовано <small>ц</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input8']" ng-init="fieldset['input8']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input9']" ng-init="fieldset['input9']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Получено средств <small>руб</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input10']" ng-init="fieldset['input10']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input11']" ng-init="fieldset['input11']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Переходящий остаток <small>ц</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input12']" ng-init="fieldset['input12']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input13']" ng-init="fieldset['input13']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Использование удобрений <small>кг/га по д.в.</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="fieldset['input14']" ng-init="fieldset['input14']=''" placeholder="N" value="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="fieldset['input15']" ng-init="fieldset['input15']=''" placeholder="P" value="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="fieldset['input16']" ng-init="fieldset['input16']=''" placeholder="K" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Число сортоопытов <small>шт.</small></label>
            <div class="has-feedback">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input17']" ng-init="fieldset['input17']=''" placeholder="План" value="">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="fieldset['input18']" ng-init="fieldset['input18']=''" placeholder="Факт" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Гибель по причине <small>га</small></label>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input19']" ng-init="fieldset['input19']=''" placeholder="засуха" value="">
            </div>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input20']" ng-init="fieldset['input20']=''" placeholder="вымерзание" value="">
            </div>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input21']" ng-init="fieldset['input21']=''" placeholder="выперание" value="">
            </div>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input22']" ng-init="fieldset['input22']=''" placeholder="поражение болезнями" value="">
            </div>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input23']" ng-init="fieldset['input23']=''" placeholder="повреждение с/х вредителями" value="">
            </div>
            <div class="has-feedback">
                <input type="text" class="form-control" ng-model="fieldset['input24']" ng-init="fieldset['input24']=''" placeholder="прочее" value="">
            </div>
        </div>
    </div>
</div>
<div class="fieldset__action">
    <button class="btn btn-default" type="button" ng-click="formFieldset.add(fieldset);"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
</div>
